/plugins/mcmotd_multicon/ws/__pycache__
/plugins/mcmotd_multicon/__pycache__
/plugins/mcmotd_multicon/utils/__pycache__
build/
.vscode/
/plugins/mcmotd_multicon/func/networktools_cpp/__pycache__
/plugins/mcmotd_multicon/func/__pycache__
